<section class="team container">
  <h2 class="team__title">À propos de Nous</h2>

  <div class="team__container">
    <div class="team__row">
      <div class="team__image">
        <%= image_tag "chiara_profile.jpeg", alt:"Chiara Paperini" %>
      </div>
      <div class="team__content">
        <h3 class="team__subtitle">Chiara Paperini</h3>
        <p class="team__text">
          Ancienne danseuse professionnelle de l’Opéra de Lyon et du Béjart Ballet Lausanne, Chiara Paperini a consacré plus de 15 ans à l’exploration du mouvement et de l’expression corporelle au plus haut niveau. Cette expérience artistique unique enrichit aujourd’hui son approche pédagogique du Pilates, qu’elle enseigne avec passion et précision.
        </p>
        <p class="team__text">
          Avec une pédagogie inspirée par son passé de danseuse et une passion pour le mouvement, Chiara valorise la compréhension du corps, l’amélioration de la posture et le renforcement des muscles profonds.
        </p>
        <p class="team__text">
          Elle vous accompagne à votre rythme, dans un cadre bienveillant, pour vous aider à atteindre vos objectifs et cultiver un véritable équilibre entre corps et esprit.
        </p>
      </div>
    </div>

    <hr class="hr">

    <div class="team__row reverse">
      <div class="team__image">
        <%= image_tag "oksana.png", alt:"Oksana Boiko" %>
      </div>
      <div class="team__content">
        <h3 class="team__subtitle">Oksana Boiko</h3>
        <p class="team__text">
          Instructrice certifiée de Pilates, ancienne danseuse, chorégraphe et professeure de danse classique et modern jazz avec 30 ans d’expérience dans le mouvement.
        </p>
        <p class="team__text">
          Après une épreuve de santé, j’ai trouvé dans le Pilates une voie de guérison et de renaissance. Depuis trois ans, j’enseigne cette méthode avec passion, comme une nouvelle danse de ma vie. Ma pédagogie allie grâce, précision et écoute du corps. Je suis guidée par la conviction qu’on peut toujours progresser – physiquement et mentalement – en respectant ses capacités.
        </p>
        <p class="team__text">
          Ma devise : Chaque mouvement est une symphonie entre fluidité, contrôle, corps et esprit.
        </p>
      </div>
    </div>

    <hr class="hr">

    <div class="team__row">
      <div class="team__image">
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUSlEndXmyaGK0PfjtP6UZ3BKKB8xckAN4Lw&s", alt:"Astrid Colomb-Bouvard" %>
      </div>
      <div class="team__content">
        <h3 class="team__subtitle">Astrid Colomb-Bouvard</h3>
        <p class="team__text">
          Danseuse, chorégraphe et professeure de danse contemporaine, Astrid est diplômée en Pilates (sol et machines) par Ann McMillan à Montréal. Forte d’un double parcours artistique et pédagogique, elle a développé une approche unique du mouvement, qu’elle transmet avec passion depuis de nombreuses années.
        </p>
        <p class="team__text">
          Elle a enseigné et chorégraphié en France, en Italie, au Canada et en Australie, où elle a été invitée en tant que directrice artistique et enseignante à Perth. Elle a également collaboré avec Jean-Claude Gallotta pour des transmissions de répertoire, avant d’intégrer l’équipe du Conservatoire de Lyon.
        </p>
        <p class="team__text">
          Astrid met aujourd’hui son expertise au service du bien-être à travers une pédagogie sensible, axée sur la conscience corporelle, la posture et le renforcement en profondeur, en cours collectifs ou individuels.
        </p>
      </div>
    </div>

    <hr class="hr">

    <div class="our_partners">
      <h3 class="team__subtitle">Nos Partenaires</h3>
      <p class="team__text">
        Nous sommes fiers de collaborer avec des partenaires qui partagent notre passion pour le bien-être et la santé. Ensemble, nous créons un environnement propice à l’épanouissement personnel et collectif.
      </p>
      <ul class="partners__list">
        <li class="partners__item">
          <%= link_to "https://missgrandlyon.fr", target: "_blank" do %>
            <%= image_tag "miss_grand_lyon.png", alt: "Miss Grand Lyon" %>
          <% end %>
        </li>
        <li class="partners__item">
          <%= link_to "https://linktr.ee/insidelyon?fbclid=PAZXh0bgNhZW0CMTEAAacBY5-vnpqOsnYNT4iocXWaZNHOHBFPHJ06mAd_p8o4d50xzTtitqTZhLKjwg_aem_eRwvwbAufBV5uwgqAfEaTw", target: "_blank" do %>
            <%= image_tag "inside_lyon.png", alt: "Inside Lyon" %>
          <% end %>
        </li>
        <li class="partners__item">
          <%= link_to "https://enjoyeuse.com", target: "_blank" do %>
            <%= image_tag "enjoyeuse-logo.png", alt: "Enjoyeuse" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
