<section class="about container">
  <h2 class="about__title">À propos de Nous</h2>
  <div class="about__container">
    <div class="about__image">
      <%= image_tag "chiara_profile.jpeg", alt:"Chiara Paperini" %>
    </div>
    <div class="about__content">
      <h3 class="about__subtitle">Chiara Paperini</h3>
      <p class="about__text">
        Ancienne danseuse professionnelle de l’Opéra de Lyon et du Béjart Ballet Lausanne, Chiara Paperini a consacré plus de 15 ans à l’exploration du mouvement et de l’expression corporelle au plus haut niveau. Cette expérience artistique unique enrichit aujourd’hui son approche pédagogique du Pilates, qu’elle enseigne avec passion et précision.
      </p>
      <p class="about__text">
        Avec une pédagogie inspirée par son passé de danseuse et une passion pour le mouvement, Chiara valorise la compréhension du corps, l’amélioration de la posture et le renforcement des muscles profonds.
      </p>
      <p class="about__text">
        Elle vous accompagne à votre rythme, dans un cadre bienveillant, pour vous aider à atteindre vos objectifs et cultiver un véritable équilibre entre corps et esprit.
      </p>
    </div>
    <div class="our_partners">
      <h3 class="about__subtitle">Nos Partenaires</h3>
      <p class="about__text">
        Nous sommes fiers de collaborer avec des partenaires qui partagent notre passion pour le bien-être et la santé. Ensemble, nous créons un environnement propice à l’épanouissement personnel et collectif.
      </p>
      <ul class="partners__list">
        <li class="partners__item">
          <%= link_to "https://missgrandlyon.fr", target: "_blank" do %>
            <%= image_tag "miss_grand_lyon.png", alt: "Miss Grand Lyon" %>
          <% end %>
        </li>
        <li class="partners__item">
          <%= link_to "https://linktr.ee/insidelyon?fbclid=PAZXh0bgNhZW0CMTEAAacBY5-vnpqOsnYNT4iocXWaZNHOHBFPHJ06mAd_p8o4d50xzTtitqTZhLKjwg_aem_eRwvwbAufBV5uwgqAfEaTw", target: "_blank" do %>
            <%= image_tag "inside_lyon.png", alt: "Inside Lyon" %>
          <% end %>
        </li>
        <li class="partners__item">
          <%= link_to "https://enjoyeuse.com", target: "_blank" do %>
            <%= image_tag "enjoyeuse-logo.png", alt: "Enjoyeuse" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
