<nav class="navbar sticky-top bg-white navbar-visitor navbar-light navbar-expand-lg py-2" data-controller="navbar" data-navbar-target="navbar">
      <div class="container">
        <%= image_tag 'logo.svg', width:"75px" %>
      </div>
    </nav>
<%= render 'shared/hero' %>
<%= render 'shared/studio' %>
<%= render 'shared/about' %>
<%= render 'shared/classes' %>
<%= render 'shared/contact' %>
<%= render 'shared/footer' %>
