<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <title>CPilates Reformer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# favicon %>
    <%= favicon_link_tag 'apple-touch-icon.png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--  Browser Tab Appearance Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#191d3a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#191d3a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#191d3a">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#191d3a">
    <meta name="theme-color" content="#191d3a">

    <style>
      body,html {
        height: 100%;
        margin: 0;
        background-color:rgb(241, 241, 241);
      }
    </style>

    <script>
      function initMap() {
        let cpreformer = {lat: 45.73276559876481, lng: 4.803268671164351};
        let map = new google.maps.Map(
          document.getElementById('map'), {
          zoom: 18,
          center: cpreformer
        });
        let marker = new google.maps.Marker({
          position: cpreformer,
          map: map
        });
      }
    </script>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render "shared/navbar" unless current_page?("/") %>

    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" unless current_page?("/") %>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap" ></script>
  </body>
</html>
